<label
  id="country-selector__label--<%= direction %>"
  class="country-selector__label align-with-form"
  for="country-selector--<%= direction %>"
>
  <%= direction === "sender" ? "Страна отправления" : "Страна получения" %>:
</label>
<select
  name="country-selector"
  class="country-selector"
  id="country-selector--<%= direction %>"
  data-direction="<%= direction %>"
></select>
